spec/CNPMerchantWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://kz.processing.cnp.merchant_ws/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax226="http://merchant_web_services.cnp.processing.kz/xsd" xmlns:ax224="http://beans.merchant_web_services.cnp.processing.kz/xsd" xmlns:ax222="http://beans.common.cnp.processing.kz/xsd" xmlns:tns="http://kz.processing.cnp.merchant_ws/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://kz.processing.cnp.merchant_ws/">
    <wsdl:documentation>CNPMerchantWebService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax227="http://beans.common.cnp.processing.kz/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://merchant_web_services.cnp.processing.kz/xsd">
            <xs:import namespace="http://beans.common.cnp.processing.kz/xsd"/>
            <xs:complexType name="TransactionCardDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cardholderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="expiryDate" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsList" nillable="true" type="ax222:GoodsItem"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="merchantAdditionalInformationList" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required3DS" nillable="true" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secureCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.merchant_web_services.cnp.processing.kz/xsd">
            <xs:complexType name="StartTransactionResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="redirectURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Authorise3DSResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="acsURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="md" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paReq" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranGUID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StartCashOutToRegisteredCardResult">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.common.cnp.processing.kz/xsd">
            <xs:complexType name="GoodsItem">
                <xs:sequence>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="merchantsGoodsID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameOfGoods" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AdditionalInformation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatusCode">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amountAuthorised" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRefunded" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRequested" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountSettled" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="bankRRN" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax222:GoodsItem"/>
                    <xs:element minOccurs="0" name="issuerBank" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCodeDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="sinkNode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="billingAddress" nillable="true" type="ax222:Address"/>
                    <xs:element minOccurs="0" name="cardId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="currencyCode" type="xs:int"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsList" nillable="true" type="ax222:GoodsItem"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="merchantAdditionalInformationList" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="paymentType" type="xs:int"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="totalAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Address">
                <xs:sequence>
                    <xs:element minOccurs="0" name="addressLine1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="addressLine2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="city" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="country" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="county" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="zip" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amountAuthorised" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRefunded" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountRequested" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amountSettled" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax222:GoodsItem"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="orderId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransactionStatusExtended">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cardIssuerCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maskedCardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="purchaserIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verified3D" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="BankTransferTransactionDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformationList" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="kno" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="knoDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverBankBIK" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverEntityType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverIIN" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverResidencyType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnUrl" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderEntityType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderIIN" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderResidencyType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranAmount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranFee" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredBankTransferTransactionStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userIpAddress" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="CurrencyRateDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="currencyConversionRate" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransferTransactionDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformationList" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="returnURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TrustedTransferTransactionDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformationList" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="currencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverAddress" nillable="true" type="ax222:Address"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderAccount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderAddress" nillable="true" type="ax222:Address"/>
                    <xs:element minOccurs="0" name="senderCVV2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderExpMonth" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderExpYear" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="terminalId" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="tranAmount" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StoredTransferTransactionStatus">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax222:AdditionalInformation"/>
                    <xs:element minOccurs="0" name="altCardIssuerCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="altMaskedCardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="amount" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="cardIssuerCountry" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="errorDescription" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="fee" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maskedCardNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantLocalDateTime" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="merchantOnlineAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="receiverPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="rspCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderEmail" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="senderPhone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="success" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="transactionCurrencyCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transactionStatus" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userIpAddress" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="verified3D" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax225="http://beans.merchant_web_services.cnp.processing.kz/xsd" xmlns:ax223="http://beans.common.cnp.processing.kz/xsd" xmlns:ax228="http://merchant_web_services.cnp.processing.kz/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://kz.processing.cnp.merchant_ws/xsd">
            <xs:import namespace="http://beans.common.cnp.processing.kz/xsd"/>
            <xs:import namespace="http://beans.merchant_web_services.cnp.processing.kz/xsd"/>
            <xs:import namespace="http://merchant_web_services.cnp.processing.kz/xsd"/>
            <xs:element name="getVersion">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getVersionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="refundAmount" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="goodsToRefund" nillable="true" type="ax223:GoodsItem"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="additionalInformation" nillable="true" type="ax223:AdditionalInformation"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="refundTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusCode">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusCodeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransactionStatusCode"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExtendedTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getExtendedTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransactionStatusExtended"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionWithCardDetails">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax226:TransactionCardDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransactionWithCardDetailsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complete3DS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="paRes" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="md" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="tranGUID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="complete3DSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processBankTransferTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:BankTransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processBankTransferTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredBankTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrencyConversionRate">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="rrn" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="fromCurrencyCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="toCurrencyCode" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrencyConversionRateResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:CurrencyRateDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionEx">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="goods" nillable="true" type="ax223:GoodsItem"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeTransactionExResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorise3DS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax226:TransactionCardDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="authorise3DSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:Authorise3DSResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBankTransferTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getBankTransferTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredBankTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashInTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashInTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processTrustedCashoutTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TrustedTransferTransactionDetails"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processTrustedCashoutTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutToRegisteredCard">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutToRegisteredCardResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartCashOutToRegisteredCardResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransactionWithMerchantFee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantFee" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransactionWithMerchantFeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeclinePage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="customerReference" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="languageCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="returnUrl" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getDeclinePageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransferTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTransferTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startCashOutTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransferTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transaction" nillable="true" type="ax223:TransferTransactionDetails"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="startTransferTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax225:StartTransactionResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCashOutTransactionStatus">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCashOutTransactionStatusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransaction">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="merchantId" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="referenceNr" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transactionSuccess" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="merchantKeyword" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="overrideAmount" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="completeCashOutTransactionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax223:StoredTransferTransactionStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="startTransactionRequest">
        <wsdl:part name="parameters" element="ns:startTransaction"/>
    </wsdl:message>
    <wsdl:message name="startTransactionResponse">
        <wsdl:part name="parameters" element="ns:startTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getExtendedTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getExtendedTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getExtendedTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getExtendedTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="startCashInTransactionRequest">
        <wsdl:part name="parameters" element="ns:startCashInTransaction"/>
    </wsdl:message>
    <wsdl:message name="startCashInTransactionResponse">
        <wsdl:part name="parameters" element="ns:startCashInTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startTransferTransactionRequest">
        <wsdl:part name="parameters" element="ns:startTransferTransaction"/>
    </wsdl:message>
    <wsdl:message name="startTransferTransactionResponse">
        <wsdl:part name="parameters" element="ns:startTransferTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getBankTransferTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getBankTransferTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getBankTransferTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getBankTransferTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="complete3DSRequest">
        <wsdl:part name="parameters" element="ns:complete3DS"/>
    </wsdl:message>
    <wsdl:message name="complete3DSResponse">
        <wsdl:part name="parameters" element="ns:complete3DSResponse"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionExRequest">
        <wsdl:part name="parameters" element="ns:completeTransactionEx"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionExResponse">
        <wsdl:part name="parameters" element="ns:completeTransactionExResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusCodeRequest">
        <wsdl:part name="parameters" element="ns:getTransactionStatusCode"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusCodeResponse">
        <wsdl:part name="parameters" element="ns:getTransactionStatusCodeResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransferTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getTransferTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getTransferTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getTransferTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getDeclinePageRequest">
        <wsdl:part name="parameters" element="ns:getDeclinePage"/>
    </wsdl:message>
    <wsdl:message name="getDeclinePageResponse">
        <wsdl:part name="parameters" element="ns:getDeclinePageResponse"/>
    </wsdl:message>
    <wsdl:message name="processTrustedCashoutTransactionRequest">
        <wsdl:part name="parameters" element="ns:processTrustedCashoutTransaction"/>
    </wsdl:message>
    <wsdl:message name="processTrustedCashoutTransactionResponse">
        <wsdl:part name="parameters" element="ns:processTrustedCashoutTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="getVersionRequest">
        <wsdl:part name="parameters" element="ns:getVersion"/>
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part name="parameters" element="ns:getVersionResponse"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionRequest">
        <wsdl:part name="parameters" element="ns:completeCashOutTransaction"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionResponse">
        <wsdl:part name="parameters" element="ns:completeCashOutTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startCashOutToRegisteredCardRequest">
        <wsdl:part name="parameters" element="ns:startCashOutToRegisteredCard"/>
    </wsdl:message>
    <wsdl:message name="startCashOutToRegisteredCardResponse">
        <wsdl:part name="parameters" element="ns:startCashOutToRegisteredCardResponse"/>
    </wsdl:message>
    <wsdl:message name="getCashOutTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getCashOutTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getCashOutTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getCashOutTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="processBankTransferTransactionRequest">
        <wsdl:part name="parameters" element="ns:processBankTransferTransaction"/>
    </wsdl:message>
    <wsdl:message name="processBankTransferTransactionResponse">
        <wsdl:part name="parameters" element="ns:processBankTransferTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startCashOutTransactionRequest">
        <wsdl:part name="parameters" element="ns:startCashOutTransaction"/>
    </wsdl:message>
    <wsdl:message name="startCashOutTransactionResponse">
        <wsdl:part name="parameters" element="ns:startCashOutTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="startTransactionWithCardDetailsRequest">
        <wsdl:part name="parameters" element="ns:startTransactionWithCardDetails"/>
    </wsdl:message>
    <wsdl:message name="startTransactionWithCardDetailsResponse">
        <wsdl:part name="parameters" element="ns:startTransactionWithCardDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="refundTransactionRequest">
        <wsdl:part name="parameters" element="ns:refundTransaction"/>
    </wsdl:message>
    <wsdl:message name="refundTransactionResponse">
        <wsdl:part name="parameters" element="ns:refundTransactionResponse"/>
    </wsdl:message>
    <wsdl:message name="authorise3DSRequest">
        <wsdl:part name="parameters" element="ns:authorise3DS"/>
    </wsdl:message>
    <wsdl:message name="authorise3DSResponse">
        <wsdl:part name="parameters" element="ns:authorise3DSResponse"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusRequest">
        <wsdl:part name="parameters" element="ns:getTransactionStatus"/>
    </wsdl:message>
    <wsdl:message name="getTransactionStatusResponse">
        <wsdl:part name="parameters" element="ns:getTransactionStatusResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrencyConversionRateRequest">
        <wsdl:part name="parameters" element="ns:getCurrencyConversionRate"/>
    </wsdl:message>
    <wsdl:message name="getCurrencyConversionRateResponse">
        <wsdl:part name="parameters" element="ns:getCurrencyConversionRateResponse"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionWithMerchantFeeRequest">
        <wsdl:part name="parameters" element="ns:completeCashOutTransactionWithMerchantFee"/>
    </wsdl:message>
    <wsdl:message name="completeCashOutTransactionWithMerchantFeeResponse">
        <wsdl:part name="parameters" element="ns:completeCashOutTransactionWithMerchantFeeResponse"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionRequest">
        <wsdl:part name="parameters" element="ns:completeTransaction"/>
    </wsdl:message>
    <wsdl:message name="completeTransactionResponse">
        <wsdl:part name="parameters" element="ns:completeTransactionResponse"/>
    </wsdl:message>
    <wsdl:portType name="CNPMerchantWebServicePortType">
        <wsdl:operation name="startTransaction">
            <wsdl:input message="tns:startTransactionRequest" wsaw:Action="urn:startTransaction"/>
            <wsdl:output message="tns:startTransactionResponse" wsaw:Action="urn:startTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <wsdl:input message="tns:getExtendedTransactionStatusRequest" wsaw:Action="urn:getExtendedTransactionStatus"/>
            <wsdl:output message="tns:getExtendedTransactionStatusResponse" wsaw:Action="urn:getExtendedTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <wsdl:input message="tns:startCashInTransactionRequest" wsaw:Action="urn:startCashInTransaction"/>
            <wsdl:output message="tns:startCashInTransactionResponse" wsaw:Action="urn:startCashInTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <wsdl:input message="tns:startTransferTransactionRequest" wsaw:Action="urn:startTransferTransaction"/>
            <wsdl:output message="tns:startTransferTransactionResponse" wsaw:Action="urn:startTransferTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getBankTransferTransactionStatus">
            <wsdl:input message="tns:getBankTransferTransactionStatusRequest" wsaw:Action="urn:getBankTransferTransactionStatus"/>
            <wsdl:output message="tns:getBankTransferTransactionStatusResponse" wsaw:Action="urn:getBankTransferTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <wsdl:input message="tns:complete3DSRequest" wsaw:Action="urn:complete3DS"/>
            <wsdl:output message="tns:complete3DSResponse" wsaw:Action="urn:complete3DSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <wsdl:input message="tns:completeTransactionExRequest" wsaw:Action="urn:completeTransactionEx"/>
            <wsdl:output message="tns:completeTransactionExResponse" wsaw:Action="urn:completeTransactionExResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <wsdl:input message="tns:getTransactionStatusCodeRequest" wsaw:Action="urn:getTransactionStatusCode"/>
            <wsdl:output message="tns:getTransactionStatusCodeResponse" wsaw:Action="urn:getTransactionStatusCodeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <wsdl:input message="tns:getTransferTransactionStatusRequest" wsaw:Action="urn:getTransferTransactionStatus"/>
            <wsdl:output message="tns:getTransferTransactionStatusResponse" wsaw:Action="urn:getTransferTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getDeclinePage">
            <wsdl:input message="tns:getDeclinePageRequest" wsaw:Action="urn:getDeclinePage"/>
            <wsdl:output message="tns:getDeclinePageResponse" wsaw:Action="urn:getDeclinePageResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processTrustedCashoutTransaction">
            <wsdl:input message="tns:processTrustedCashoutTransactionRequest" wsaw:Action="urn:processTrustedCashoutTransaction"/>
            <wsdl:output message="tns:processTrustedCashoutTransactionResponse" wsaw:Action="urn:processTrustedCashoutTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" wsaw:Action="urn:getVersion"/>
            <wsdl:output message="tns:getVersionResponse" wsaw:Action="urn:getVersionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <wsdl:input message="tns:completeCashOutTransactionRequest" wsaw:Action="urn:completeCashOutTransaction"/>
            <wsdl:output message="tns:completeCashOutTransactionResponse" wsaw:Action="urn:completeCashOutTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startCashOutToRegisteredCard">
            <wsdl:input message="tns:startCashOutToRegisteredCardRequest" wsaw:Action="urn:startCashOutToRegisteredCard"/>
            <wsdl:output message="tns:startCashOutToRegisteredCardResponse" wsaw:Action="urn:startCashOutToRegisteredCardResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <wsdl:input message="tns:getCashOutTransactionStatusRequest" wsaw:Action="urn:getCashOutTransactionStatus"/>
            <wsdl:output message="tns:getCashOutTransactionStatusResponse" wsaw:Action="urn:getCashOutTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processBankTransferTransaction">
            <wsdl:input message="tns:processBankTransferTransactionRequest" wsaw:Action="urn:processBankTransferTransaction"/>
            <wsdl:output message="tns:processBankTransferTransactionResponse" wsaw:Action="urn:processBankTransferTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <wsdl:input message="tns:startCashOutTransactionRequest" wsaw:Action="urn:startCashOutTransaction"/>
            <wsdl:output message="tns:startCashOutTransactionResponse" wsaw:Action="urn:startCashOutTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <wsdl:input message="tns:startTransactionWithCardDetailsRequest" wsaw:Action="urn:startTransactionWithCardDetails"/>
            <wsdl:output message="tns:startTransactionWithCardDetailsResponse" wsaw:Action="urn:startTransactionWithCardDetailsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <wsdl:input message="tns:refundTransactionRequest" wsaw:Action="urn:refundTransaction"/>
            <wsdl:output message="tns:refundTransactionResponse" wsaw:Action="urn:refundTransactionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <wsdl:input message="tns:authorise3DSRequest" wsaw:Action="urn:authorise3DS"/>
            <wsdl:output message="tns:authorise3DSResponse" wsaw:Action="urn:authorise3DSResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <wsdl:input message="tns:getTransactionStatusRequest" wsaw:Action="urn:getTransactionStatus"/>
            <wsdl:output message="tns:getTransactionStatusResponse" wsaw:Action="urn:getTransactionStatusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrencyConversionRate">
            <wsdl:input message="tns:getCurrencyConversionRateRequest" wsaw:Action="urn:getCurrencyConversionRate"/>
            <wsdl:output message="tns:getCurrencyConversionRateResponse" wsaw:Action="urn:getCurrencyConversionRateResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransactionWithMerchantFee">
            <wsdl:input message="tns:completeCashOutTransactionWithMerchantFeeRequest" wsaw:Action="urn:completeCashOutTransactionWithMerchantFee"/>
            <wsdl:output message="tns:completeCashOutTransactionWithMerchantFeeResponse" wsaw:Action="urn:completeCashOutTransactionWithMerchantFeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <wsdl:input message="tns:completeTransactionRequest" wsaw:Action="urn:completeTransaction"/>
            <wsdl:output message="tns:completeTransactionResponse" wsaw:Action="urn:completeTransactionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CNPMerchantWebServiceSoap11Binding" type="tns:CNPMerchantWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startTransaction">
            <soap:operation soapAction="urn:startTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <soap:operation soapAction="urn:startTransferTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <soap:operation soapAction="urn:startCashInTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <soap:operation soapAction="urn:getExtendedTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBankTransferTransactionStatus">
            <soap:operation soapAction="urn:getBankTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <soap:operation soapAction="urn:complete3DS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <soap:operation soapAction="urn:completeTransactionEx" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <soap:operation soapAction="urn:getTransactionStatusCode" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <soap:operation soapAction="urn:getTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeclinePage">
            <soap:operation soapAction="urn:getDeclinePage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processTrustedCashoutTransaction">
            <soap:operation soapAction="urn:processTrustedCashoutTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <soap:operation soapAction="urn:completeCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutToRegisteredCard">
            <soap:operation soapAction="urn:startCashOutToRegisteredCard" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <soap:operation soapAction="urn:getCashOutTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processBankTransferTransaction">
            <soap:operation soapAction="urn:processBankTransferTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <soap:operation soapAction="urn:startCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <soap:operation soapAction="urn:startTransactionWithCardDetails" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <soap:operation soapAction="urn:refundTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <soap:operation soapAction="urn:authorise3DS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <soap:operation soapAction="urn:getTransactionStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrencyConversionRate">
            <soap:operation soapAction="urn:getCurrencyConversionRate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransactionWithMerchantFee">
            <soap:operation soapAction="urn:completeCashOutTransactionWithMerchantFee" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <soap:operation soapAction="urn:completeTransaction" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CNPMerchantWebServiceSoap12Binding" type="tns:CNPMerchantWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="startTransaction">
            <soap12:operation soapAction="urn:startTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <soap12:operation soapAction="urn:startTransferTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <soap12:operation soapAction="urn:startCashInTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <soap12:operation soapAction="urn:getExtendedTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBankTransferTransactionStatus">
            <soap12:operation soapAction="urn:getBankTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <soap12:operation soapAction="urn:complete3DS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <soap12:operation soapAction="urn:completeTransactionEx" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <soap12:operation soapAction="urn:getTransactionStatusCode" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <soap12:operation soapAction="urn:getTransferTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeclinePage">
            <soap12:operation soapAction="urn:getDeclinePage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processTrustedCashoutTransaction">
            <soap12:operation soapAction="urn:processTrustedCashoutTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <soap12:operation soapAction="urn:getVersion" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <soap12:operation soapAction="urn:completeCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutToRegisteredCard">
            <soap12:operation soapAction="urn:startCashOutToRegisteredCard" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <soap12:operation soapAction="urn:getCashOutTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processBankTransferTransaction">
            <soap12:operation soapAction="urn:processBankTransferTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <soap12:operation soapAction="urn:startCashOutTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <soap12:operation soapAction="urn:startTransactionWithCardDetails" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <soap12:operation soapAction="urn:refundTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <soap12:operation soapAction="urn:authorise3DS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <soap12:operation soapAction="urn:getTransactionStatus" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrencyConversionRate">
            <soap12:operation soapAction="urn:getCurrencyConversionRate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransactionWithMerchantFee">
            <soap12:operation soapAction="urn:completeCashOutTransactionWithMerchantFee" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <soap12:operation soapAction="urn:completeTransaction" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CNPMerchantWebServiceHttpBinding" type="tns:CNPMerchantWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="startTransaction">
            <http:operation location="startTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransferTransaction">
            <http:operation location="startTransferTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashInTransaction">
            <http:operation location="startCashInTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getExtendedTransactionStatus">
            <http:operation location="getExtendedTransactionStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getBankTransferTransactionStatus">
            <http:operation location="getBankTransferTransactionStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="complete3DS">
            <http:operation location="complete3DS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransactionEx">
            <http:operation location="completeTransactionEx"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatusCode">
            <http:operation location="getTransactionStatusCode"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransferTransactionStatus">
            <http:operation location="getTransferTransactionStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDeclinePage">
            <http:operation location="getDeclinePage"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processTrustedCashoutTransaction">
            <http:operation location="processTrustedCashoutTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getVersion">
            <http:operation location="getVersion"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransaction">
            <http:operation location="completeCashOutTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutToRegisteredCard">
            <http:operation location="startCashOutToRegisteredCard"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCashOutTransactionStatus">
            <http:operation location="getCashOutTransactionStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processBankTransferTransaction">
            <http:operation location="processBankTransferTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startCashOutTransaction">
            <http:operation location="startCashOutTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="startTransactionWithCardDetails">
            <http:operation location="startTransactionWithCardDetails"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="refundTransaction">
            <http:operation location="refundTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="authorise3DS">
            <http:operation location="authorise3DS"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTransactionStatus">
            <http:operation location="getTransactionStatus"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrencyConversionRate">
            <http:operation location="getCurrencyConversionRate"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeCashOutTransactionWithMerchantFee">
            <http:operation location="completeCashOutTransactionWithMerchantFee"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="completeTransaction">
            <http:operation location="completeTransaction"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CNPMerchantWebService">
        <wsdl:port name="CNPMerchantWebServiceHttpSoap11Endpoint" binding="tns:CNPMerchantWebServiceSoap11Binding">
            <soap:address location="http://test.processing.kz:8080/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CNPMerchantWebServiceHttpsSoap11Endpoint" binding="tns:CNPMerchantWebServiceSoap11Binding">
            <soap:address location="https://test.processing.kz:8443/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CNPMerchantWebServiceHttpsSoap12Endpoint" binding="tns:CNPMerchantWebServiceSoap12Binding">
            <soap12:address location="https://test.processing.kz:8443/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CNPMerchantWebServiceHttpSoap12Endpoint" binding="tns:CNPMerchantWebServiceSoap12Binding">
            <soap12:address location="http://test.processing.kz:8080/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CNPMerchantWebServiceHttpsEndpoint" binding="tns:CNPMerchantWebServiceHttpBinding">
            <http:address location="https://test.processing.kz:8443/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpsEndpoint/"/>
        </wsdl:port>
        <wsdl:port name="CNPMerchantWebServiceHttpEndpoint" binding="tns:CNPMerchantWebServiceHttpBinding">
            <http:address location="http://test.processing.kz:8080/CNPMerchantWebServices/services/CNPMerchantWebService.CNPMerchantWebServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
